.hero-banner-cont {
  width: 100%;
  height: 600px;
  position: relative;
  z-index: 5000;
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-around;
  align-items: center;
  gap: 40px;
  margin: 0 auto;
  padding: 40px;
  background-color: #a2c0bd;
  /* border-radius: 15px; */
  color: #425c5a;
}

.hero-banner-cont .small-text {
  font-size: 20px;
}

.hero-banner-cont button {
  z-index: 10000 !important;
  margin-top: 40px;
  padding: 15px 40px;
  font-weight: 700;
}

.hero-banner-cont button:hover {
  transform: none;
}

.hero-banner-cont h3 {
  margin-top: 4px;
  font-size: 4rem;
  color: #fecea2;
}

.hero-banner-cont h1 {
  margin-left: -20px;
  color: white;
  font-size: 10em;
  text-transform: uppercase;
}

.hero-banner-image {
  width: 450px;
  height: 450px;
  filter: drop-shadow(68px 41px 34px #425c5a);
  transition: transform 0.5s ease;
  -webkit-animation: movingBuddy 3s ease infinite;
  animation: movingBuddy 3s ease infinite;
}

/* .hero-banner-image:hover {
  transform: rotate(3deg);
} */

.hero-banner-cont .desc {
  max-width: 300px;
  line-height: 1.3;
  display: flex;
  flex-direction: column;
}

.hero-banner-cont .desc p {
  text-align: end;
  font-weight: 100;
}

.hero-banner-cont .desc h5 {
  align-self: flex-end;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 16px;
  color: #425c5a;
}

@media (max-width: 960px) {
  .hero-banner-cont {
    height: fit-content;
    justify-content: center;
  }

  .hero-sale-details {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .hero-banner-cont h1 {
    margin-left: 0;
    align-self: flex-end;
    font-size: 8em;
  }

  .hero-banner-image {
    width: 100%;
    max-width: 400px;
    height: auto;
    align-self: center;
  }

  .hero-product {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .hero-banner-cont button {
    margin-top: 0;
  }

  .hero-banner-cont .desc {
    align-self: flex-end;
    right: 0;
  }
}

@media (max-width: 350px) {
  .hero-banner-cont {
    padding: 40px 20px;
  }

  .hero-banner-cont h1 {
    font-size: 6em;
  }

  .hero-banner-cont h3 {
    font-size: 3em;
  }

  .hero-banner-cont button {
    font-size: 16px;
  }

  .hero-banner-cont .desc {
    align-self: flex-end;
    right: 0;
  }
}

/* animation */

@keyframes movingBuddy {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
