.footer-banner-cont {
  width: 100%;
  max-width: 1000px;
  height: 400px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin: 120px auto 0;
  padding: 40px;
  border-radius: 15px;
  background-color: #ff6433;
  color: white;
}

.footer-banner-cont .footer-banner-left h3 {
  width: 100%;
  margin: 25px;
  font-weight: 900;
  font-size: 80px;
  text-transform: uppercase;
}

.footer-banner-cont .footer-banner-left p {
  font-weight: 700;
  font-size: 18px;
}

.footer-banner-cont .footer-banner-left .discount {
  width: fit-content;
  font-size: 40px;
  transform: rotate(-20deg);
}

.footer-banner-cont .footer-banner-image {
  width: 350px;
  height: 350px;
  padding: 20px;
  transition: transform 0.5s ease;
}

.footer-banner-cont .footer-banner-image:hover {
  transform: rotate(3deg);
}

.footer-banner-cont .footer-banner-right h3 {
  margin: 25px 0;
  font-weight: 800;
  font-size: 60px;
}

.footer-banner-cont .footer-banner-right p {
  font-size: 18px;
}

.footer-banner-cont .footer-banner-right button {
  margin-top: 40px;
}

.footer-banner-cont .footer-banner-right button:hover {
  transform: none;
}

@media (max-width: 1000px) {
  .footer-banner-cont {
    height: auto;
    flex-direction: column;
    align-items: flex-start;
    padding: 60px 40px;
  }

  .footer-banner-cont .footer-banner-left {
    width: 100%;
  }

  .footer-banner-cont .footer-banner-left h3 {
    text-align: end;
    padding-right: 40px;
  }

  .footer-banner-cont .footer-banner-left p {
    font-size: 20px;
  }

  .footer-banner-cont .footer-banner-image {
    align-self: center;
    margin: 20px 0;
    padding: 0;
  }

  .footer-banner-cont .footer-banner-right p {
    font-size: 20px;
  }

  .footer-banner-cont .footer-banner-right button {
    position: absolute;
    right: 40px;
    bottom: 40px;
  }
}

@media (max-width: 450px) {
  .footer-banner-cont {
    padding-bottom: 120px;
  }

  .footer-banner-cont .footer-banner-left h3 {
    font-size: 60px;
  }

  .footer-banner-cont .footer-banner-image {
    width: 100%;
    height: auto;
    align-self: center;
  }

  .footer-banner-cont .footer-banner-right h3 {
    text-align: end;
    font-size: 40px;
  }
}
