.footer-banner-cont {
  width: 100%;
  height: fit-content;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 40px;
  text-align: center;
  margin: 120px auto 0;
  padding: 40px;
  /* border-radius: 15px; */
  background-color: #fecea2;
  color: white;
}

.footer-banner-cont .footer-banner-left,
.footer-banner-cont .footer-banner-right {
  width: 100%;
  max-width: 400px;
}

.footer-banner-cont .footer-banner-left h3 {
  width: 100%;
  font-weight: 900;
  font-size: 80px;
  text-transform: uppercase;
}

.footer-banner-cont .footer-banner-left p {
  font-weight: 700;
  font-size: 18px;
}

.footer-banner-cont .footer-banner-left .discount {
  width: fit-content;
  margin-left: 40px;
  font-size: 40px;
  transform: rotate(-20deg);
}

.footer-banner-cont .footer-banner-image {
  width: 100%;
  max-width: 350px;
  height: auto;
  filter: drop-shadow(68px 41px 34px #c78140);
  transition: transform 0.5s ease;
  -webkit-animation: movingBuddy 3s ease infinite;
  animation: movingBuddy 3s ease infinite;
}

/* .footer-banner-cont .footer-banner-image:hover {
  transform: rotate(3deg);
} */

.footer-banner-cont .footer-banner-right h3 {
  margin: 25px 0;
  font-weight: 800;
  font-size: 60px;
}

.footer-banner-cont .footer-banner-right p {
  font-size: 18px;
}

.footer-banner-cont .footer-banner-right button {
  margin-top: 40px;
  padding: 15px 40px;
  font-weight: 700;
}

.footer-banner-cont .footer-banner-right button:hover {
  transform: none;
}

@media (max-width: 870px) {
  .footer-banner-cont {
    padding: 60px 40px 40px 40px;
  }
}

/* animation */

@keyframes movingBuddy {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
