.btn {
  padding: 10px 16px;
  border-radius: 15px;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  transition: transform 0.5s ease;
  cursor: pointer;
}

.btn:hover {
  transform: scale(1.1, 1.1);
}

.light {
  border: 1px solid #a2c0bd;
  background-color: #a2c0bd;
  color: #fff;
}

.dark {
  border: none;
  background-color: #fecea2;
  color: #425c5a;
}
